---
// src/components/Header.astro

import { Icon } from 'astro-icon/components'
---
<header class="border-b border-zinc-200 dark:border-zinc-800 py-4">
  <div class="max-w-6xl mx-auto px-4">
    <nav class="flex justify-between items-center">
      
      <a 
        href="/" 
        class="text-2xl font-bold text-primary-500 hover:opacity-80 transition-opacity"
      >
        Pot's Blog
      </a>

      <div class="flex items-center space-x-6">
        <ul class="flex gap-6">
          <li>
            <a 
              href="/" 
              class="text-zinc-600 dark:text-zinc-300 hover:text-primary-500 transition-colors"
            >
              首页
            </a>
          </li>
          <li>
            <a 
              href="/category/技术笔记" 
              class="text-zinc-600 dark:text-zinc-300 hover:text-primary-500 transition-colors"
            >
              技术笔记
            </a>
          </li>
          <li>
            <a 
              href="/category/生活随笔" 
              class="text-zinc-600 dark:text-zinc-300 hover:text-primary-500 transition-colors"
            >
              生活随笔
            </a>
          </li>
           <li>
            <a 
              href="/category/观影记录" 
              class="text-zinc-600 dark:text-zinc-300 hover:text-primary-500 transition-colors"
            >
              观影记录
            </a>
          </li>
           <li>
            <a 
              href="/category/最近在听" 
              class="text-zinc-600 dark:text-zinc-300 hover:text-primary-500 transition-colors"
            >
              最近在听
            </a>
          </li>
          <li>
            <a 
              href="/about" 
              class="text-zinc-600 dark:text-zinc-300 hover:text-primary-500 transition-colors"
            >
              关于
            </a>
          </li>
        </ul>

        <button 
          id="theme-toggle-btn"
          class="w-8 h-8 rounded-full border border-zinc-300 dark:border-zinc-700 flex items-center justify-center text-lg transition-colors"
        >
          <Icon name="mingcute:sun-fill" class="w-5 h-5 text-zinc-800 dark:hidden" />
          
          <Icon name="mingcute:moon-fill" class="w-5 h-5 text-zinc-200 hidden dark:block" />

          <span class="sr-only">切换主题</span>
        </button>
        
      </div>

    </nav>
  </div>
</header>