---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ClientRouter } from "astro:transitions";

export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={title} description={description} />
    <ClientRouter />
  </head>

  <body
    class="flex flex-col min-h-screen selection:bg-ink-900 selection:text-white transition-colors duration-500"
  >
    <Header />

    <main class="grow w-full max-w-4xl mx-auto px-6 md:px-8">
      <slot />
    </main>

    <Footer />
    <script>
      import Lenis from "lenis";

      function initLenis() {
        // 防止重复初始化
        if (window.lenis) return;

        // 创建 Lenis 实例
        const lenis = new Lenis({
          duration: 1.2,
          easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
          touchMultiplier: 2,
        });

        // 将实例挂载到全局 window 对象
        window.lenis = lenis;

        function raf(time: number) {
          lenis.raf(time);
          requestAnimationFrame(raf);
        }

        requestAnimationFrame(raf);
      }

      // 绑定到 Astro 的生命周期
      document.addEventListener("astro:page-load", () => {
        initLenis();
      });
    </script>
  </body>
</html>
